body,
html {
    min-height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
    margin: 0;
}

.iframe-container {
    max-width: 500px;
    width: 100%;
    height: 300px;
    position: relative;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    margin: 0;
}
#iframe-id {
}

.animation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.maskClass {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(128, 255, 212, 0.3);
    position: absolute;
    top: 0;
    opacity: 1;
    cursor: pointer;
}

.mask-close {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 64px;
    height: 64px;
    background-color: rebeccapurple;
    opacity: 0;
}

.mask-close img {
    width: 64px;
    cursor: pointer;
}

.maskClass span {
    color: white;
}

#mask-iframe-id {
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    pointer-events: all;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    pointer-events: none;
}

.space-maker {
    width: 100%;
    height: 400px;
    background-color: rebeccapurple;
}

#feedback{
    color: white;
    font-size: 15px;
    position: fixed;
    top: 10px;
    left: 10px;
}